body {
    background-color: #0072C6;
    padding: 50px;
}

.addnewuser {
    margin: 20px auto;
    width: 900px;
    margin-top: 37px;
    margin-bottom: 37px;
}
.addnewuser-screen {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-control{
    width:200px;
}
#fn {
    background: #f2f2f2;
}
#email {
    background: #f2f2f2;
}
#Pass {
    background: #f2f2f2;
}
.addbtn {
    text-transform: uppercase;
    outline: 0;
    background: #0072C6;
    border: 0;
    width:200px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
input[type="radio"] {
    margin-right: 4px;
}